*{
    

    color: #ffffff;

    text-align: center;
}

h1{
    font-size: 72px;
}

#question{
    font-size: 30px;
}

body{
    background: #000000
}

.choice{
    background: #553388;

    padding: 20px;

    font-size: 30px;

    width: 300px;

    margin: 10px;

}

.flex-container{
    display: flex;

    justify-content: space-around;

    margin-top: 80px;
}

#score{
    font-size: 20px;

    margin-top: 20px;
}

#next{
    background: #885533;

    padding: 20px;

    font-size: 30px;

    width: 300px;

    margin: 10px, auto, 0px, auto;
}

#timer{
    font-size: 25px;
}

#score{
    margin-top: 30px;
}

